<!doctype html>
<html lang="en">

<head>
  <title>Our Team</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="../SCSS/style.css">
</head>

<body>
  <header class="header">
    <div class="container">
      <div class="image">
        <a href="#"><img src="../Image/crest.png" /></a>
      </div>
      <div class="image1">
        <img style="width:100%; height: auto;" src="../Image/yellow_top_wave_01.png" />
      </div>
      <nav class="nav">
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Courses</a>
        <a href="#">Blog</a>
        <a href="#">Shop</a>
        <a href="#">Elements</a>
        <div class="icon">
          <a href="#" class="phone"><i class="fas fa-phone"></i> (+1) 555 234-8765</a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-youtube"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
      </nav>
    </div>
  </header>

  <section class="carousel">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12 col-12 intro">
          <p>ABOUT US</p>
          <h1>The language <br> teaching experts</h1>
        </div>
        <div class="col-lg-6 col-md-12 col-12 imgPeople">
          <img src="../Image/hero_team.png" />
        </div>
      </div>
      <div class="img">
        <img src="../Image/Violet_top_left_wave.png" />
      </div>
    </div>
    </section>

  <section class="agent">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 mt-5">
          <div class="card border rounded">
            <img src="../Image/teacher_1.jpg" />
            <div class="card-body">
              <p>ITALIAN</p>
              <h4>July Roberts</h4>
              <span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</span>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mt-5">
          <div class="card border rounded">
            <img src="../Image/teacher_2.jpg" />
            <div class="card-body">
              <p>FRENCH</p>
              <h4>Jon Stone</h4>
              <span>Nanotechnology immersion <br> along the information.</span>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mt-5">
          <div class="card border rounded">
            <img src="../Image/teacher_3.jpg" />
            <div class="card-body">
              <p>JAPANESE</p>
              <h4>Emma Stone</h4>
              <span>Bring to the table win-win <br> survival strategies to ensure.</span>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mt-5">
          <div class="card border rounded">
            <img src="../Image/teacher_4.jpg" />
            <div class="card-body">
              <p>CHINESE</p>
              <h4>Mark Lee</h4>
              <span>Proactive domination. At the <br> end of the day, going forward.</span>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mt-5">
          <div class="card border rounded">
            <img src="../Image/teacher_5.jpg" />
            <div class="card-body">
              <p>RUSSIAN</p>
              <h4>John Doe</h4>
              <span>A new normal that has evolved <br> from generation X.</span>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mt-5">
          <div class="card border rounded">
            <img src="../Image/teacher_6.jpg" />
            <div class="card-body">
              <p>SWEDEN</p>
              <h4>Jane Smith</h4>
              <span>Heading towards a streamlined <br> cloud solution.</span>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mt-5">
          <div class="card border rounded">
            <img src="../Image/teacher_7.jpg" />
            <div class="card-body">
              <p>SPANISH</p>
              <h4>Hanna Alverez</h4>
              <span>Content in real-time will have <br> multiple touchpoints.</span>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mt-5">
          <div class="card border rounded">
            <img src="../Image/teacher_8.jpg" />
            <div class="card-body">
              <p>ITALIAN</p>
              <h4>July Roberts</h4>
              <span>Capitalize on low hanging fruit <br> to identify a ballpark.</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="course">
    <div class="container">
      <div class="row info">
        <div class="col-lg-6 col-md-12 col-sm-12 col-12 img">
          <img src="../Image/conatct_inner.png" />
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 ml-5 col-12 form">
          <h1 class="text-center mt-5">Find Your Course</h1>
          <div class="form-row mt-5">
            <div class="form-group col-md-6 col-sm-12 col-12">
              <span class="iconName"><i class="fas fa-user"></i></span>
              <input type="text" class="form-control input" placeholder="Name">
            </div>
            <div class="form-group col-md-6 col-sm-12 col-12 ">
              <span class="iconEmail"><i class="far fa-envelope"></i></span>
              <input type="email" class="form-control input" placeholder="E-mail">
            </div>
            <div class="form-group col-md-12 col-sm-12 col-12">
              <span class="iconEducation"><i class="fas fa-graduation-cap"></i></span>
              <select class="form-control inputOption">
                <option value="" selected>English</option>
                <option value="">French</option>
                <option value="">Spanish</option>
                <option value="">German</option>
              </select>
            </div>
            <div class="form-group col-md-12 col-sm-12 col-12 ">
              <span class="iconMessage"><i class="far fa-comment-alt"></i></span>
              <textarea class="form-control inputMess" placeholder="Message" style="height: 100px;"></textarea>
            </div>
            <button class="btnSend mt-5 col-sm-12 col-12">SEND</button>
          </div>
        </div>
      </div>
      <div class="imgCourse">
        <img src="../Image/accent_bottom_wave_01.png" />
      </div>
    </div>
  </section>

  <fotter class="footer">
    <div class="container">
      <div class="img">
        <img src="../Image/footer_background.jpg" />
      </div>
      <div class="row contact">
        <div class="col-lg-3 col-md-6 col-sm-6 col-12 footer-1">
          <p>Contact us</p>
          <ul class="ul"> 
            <li><i class="fas fa-map-marker-alt"></i> Franklin St, Greenpoint Ave</li>
            <li><i class="fas fa-phone"></i> +2342 5446 67</li>
            <li><i class="fas fa-stopwatch"></i> Monday - Friday: 8 AM - 5 PM</li>
            <div class="icon mt-4">
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-youtube"></i></a>
            </div>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-12 footer-2">
          <p>Quick Links</p>
          <ul class="ul footer-2">
            <li><a href="#">Home</a></li>
            <li><a href="#">Courses</a></li>
            <li><a href="#">Schedule</a></li>
            <li><a href="#">Blog</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-12 footer-3">
          <p>About</p>
          <ul class="ul footer-3">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Events</a></li>
            <li><a href="#">Get Quote</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-12 footer-4">
          <p>Newsletter</p>
          <input type="text" class="col-sm-12 inputNews mt-4" placeholder="Your email" />
          <button class="col-sm-12 btnSub mt-2">SUBSCRIBE</button>
        </div>
      </div>
    </div>
  </fotter>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>
</html>